{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container bg-body-tertiary" id="cart-list">
  <div class="row my-4 align-items-stretch">
    <!-- Product Table -->
    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
      <p class="display-6 m-2">Checkout</p>
      <p class="lead m-2">
        <small
          >There are {{total_cart_items}} product{{total_cart_items|pluralize}}
          in your cart.</small
        >
      </p>
      <div class="container">
        {% if default_address %}
        <p class="lead text-success m-2">Default Address</p>
        <div class="border rounded rounded-3 p-4 m-1">
          <p class="lead">{{default_address.address}}</p>
          <p class="lead">{{default_address.phone}}</p>
        </div>
        {%else%}
        <p class="lead p-3">No Default Address Added</p>
        {%endif%}
        <div class="border rounded rounded-3 p-3">
          <p class="lead">Add New Address</p>
          <form method="post">
            {%csrf_token%}
            <p>
              <input
                type="text"
                class="form-control w-75"
                placeholder="Address"
                name="address"
                id=""
                required
              />
            </p>
            <p>
              <input
                type="text"
                class="form-control w-75"
                placeholder="phone"
                name="phone"
                id=""
                required
              />
            </p>
            <p>
              <input type="submit" class="btn btn-success" name="" id="" />
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- Order-->
    <div
      class="col-xl-5 col-lg-6 col-md-12 col-sm-12 bg-body-tertiary p-4 rounded"
    >
      <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-dark fw-bold lead">Your Order</span>
        <span class="text-dark fw-bold"
          >Total ${{cart_total|floatformat:2}}</span
        >
      </div>

      <hr class="bg-light mb-4" />
      <a
        href="{% url 'core:cart-view' %}"
        class="btn btn-block btn-success mb-2"
        >Go Back To Cart</a
      >
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for product_id, item in cart_data.items %}
          <tr>
            <td>
              <a
                class="text-dark"
                href="{% url 'core:product-details' item.pid %}"
                >{{ item.title }}</a
              >
            </td>
            <td class="p-1 text-center">
              <a href="{% url 'core:product-details' item.pid %}">
                <img
                  src="{{ item.image }}"
                  class="img-fluid img-thumbnail"
                  alt=""
                  style="max-width: 90px; max-height: auto"
                />
              </a>
            </td>
            <td class="text-center">${{ item.price }}</td>
            <td class="text-center text-muted">x{{ item.quantity }}</td>
            <td class="text-center">
              ${% widthratio item.price 1 item.quantity %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr class="bg-light mb-4" />

      <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-dark">Shipping:</span>
        <span class="text-dark font-weight-bold">FREE SHIPPING</span>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-dark">Total:</span>
        <span class="text-dark font-weight-bold"
          >${{cart_total|floatformat:2}}</span
        >
      </div>

      {% if total_cart_items and default_address %}
      <!-- <a href="" class="btn btn-primary btn-block">Pay</a> -->
      <!-- writes out the form tag automatically -->
      {{ form.render }} {% else %}
      <a href="{% url 'core:products-list' %}" class="btn btn-success btn-block"
        >Continue Shopping</a
      >
      <button type="button" class="btn btn-danger btn-block update_address_refresh">
        Update Addess
      </button>
      {% endif %}
    </div>
  </div>
</div>

{%endblock%}
